.nav
 .dropdown{
    margin-top: 0rem;
 }

.dropdown-menu{
    margin-right: -4rem;
}
.dropdown-item{
    text-align: center;
}

.profile-thumbnail{
    position: absolute;
}

.profile-header{
    min-height: 260px;
    margin-left: 280px;
}